body {
  font-family: Arial;
  background-color: #f0f0f0;
  color: #7CB7C0;
}
header {
  background-color: #111111;
  color: white;
  padding: 10px;
}
nav a:link {
  color: #78a9d1
}
nav a:hover{
  color: #b9d7ee
}
nav a:visited{
  color: #9ab6cc
}
